/* General use classes */

.flexRow {
  display: flex;
  /* direction specified for clarity */
  flex-direction: row;
}

.flexClm {
  display: flex;
  flex-direction: column;
}

.margin-top-bottom {
  margin-top: var(--base-450);
  margin-bottom: var(--base-450);
}

.margin-top {
  margin-top: var(--base-450);
}

.margin-bottom {
  margin-bottom: var(--base-900);
}

.btn {
  font-family: var(--font-interface);
  border-radius: var(--rounded-general);
  background: var(--primary-base);
  padding: var(--base) var(--base-200);
  box-shadow: var(--shadow-sharp);
}

.neum {
  box-shadow: var(--neum-outset);
  transition: all 0.25s ease-in-out;
  &:hover {
    background: var(--hover-background);
    color: var(--secondary-400);
  }
  &:active {
    box-shadow: var(--neum-inset);
  }
}
