/* General use classes */

.flexRow {
  display: flex;
  /* direction specified for clarity */
  flex-direction: row;
}

.flexClm {
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: var(--font-interface);
  border-radius: var(--round-general);
  background: var(--primary-base);
  padding: var(--base) var(--base-200);
  box-shadow: var(--shadow-sharp);
}

.neum {
  box-shadow: var(--neum-outset);
  transition: all 0.25s ease-in-out;
}
.neum-hover {
  box-shadow: var(--neum-outset);
  transition: all 0.25s ease-in-out;
  &:hover {
    background: var(--accent-100);
    color: var(--accent-600);
  }
  &:active {
    box-shadow: var(--neum-inset);
  }
}
