@import "./variables.css";
@import "./generalClasses.css";
@import "./themes.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: var(--primary-base);
}
.scroll-container {
  scrollbar-color: var(--primary-base) var(--primary-500);
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

body {
  background: var(--background-base);
}

h1,
h2,
h3 {
  font-family: var(--font-title-general);
  color: var(--text-600);
}

h1 {
  font-size: var(--base-400);
  font-weight: 900;
}

h2 {
  font-size: var(--base-200);
}

#app {
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
  font-family: var(--font-interface);
}

a {
  text-decoration: none;
  color: var(--text-base);
}

p, li {
  font-family: var(--font-body);
  color: var(--text-base);
  
}

li::marker {
  color: var(--primary-400);
}