/* ----------- css imports -----------  */

@import "./variables.css";
@import "./generalClasses.css";
@import "./themes.css";

/* css imports end */
/*  */
/*  */
/*  */
/* ----------- global general stylings -----------  */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: var(--primary-base);
}
.scroll-container {
  scrollbar-color: var(--primary-base) var(--primary-500);
}

html {
  scrollbar-gutter: stable;
  overscroll-behavior: contain;
}

body {
  background: var(--background-base);
}

/* global general stylings end */
/*  */
/*  */
/*  */
/* ----------- global layout grid ----------- */

#app {
  display: grid;
  grid-template-columns: 1fr min(90vw, 1400px) 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
  grid-row-gap: var(--base-200);
}

nav {
  grid-row: 1;
}

nav, main, header {
  grid-column: 2;
}
header {
  grid-row: 3;
}

main {
  grid-row: 4;
  padding: 0 0 7vh 0; /* ensure spacing from footer*/
}

footer {
  grid-column: 1 / -1;
  grid-row: 5;
}

/* global layout grid end */
/*  */
/*  */
/*  */
/* ----------- global font styling ----------- */

h1,
h2,
h3 {
  font-family: var(--font-title-general);
  color: var(--text-600);
}

h1 {
  font-size: var(--base-400);
  font-weight: 900;
}

h2 {
  font-size: var(--base-200);
}

button {
  cursor: pointer;
  font-family: var(--font-interface);
}

a {
  text-decoration: none;
  color: var(--text-base);
}

p,
li {
  font-family: var(--font-body);
  color: var(--text-base);
}

li::marker {
  color: var(--primary-400);
}

/* global font styling end */
/*  */
/*  */
/*  */