// General use classes

.flexRow {
  display: flex;
  // direction specified for clarity
  flex-direction: row;
}

.flexClm {
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: $font-interface;
  border-radius: $round-general;
  background: $primary-base;
  padding: $base $base-200;
  box-shadow: $shadow-sharp;
}

.neum {
  box-shadow: $neum-outset;
  transition: all 0.25s ease-in-out;
}

.neum-hover {
  box-shadow: $neum-outset;
  transition: all 0.25s ease-in-out;
  
  &:hover {
    background: $accent-100;
    color: $accent-600;
  }
  
  &:active {
    box-shadow: $neum-inset;
  }
}
